@import "tailwindcss";

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}

@theme {
  /* BRAND */

  --color-primary: #71845a;

  --color-secondary: #e5dcc8;

  --color-background: #fcf9ea;

  --color-hover: #5d7047;

  /* ACCENT */

  --color-accent: #db9558;

  /* TEXT */

  --color-text: #30382c;

  --color-label: #566149;

  --color-muted: #7d8573;

  /* UI */

  --color-border: #ded8c9;

  /* STATUS */

  --color-danger: #a94442;
}
